@import "../../variables.scss";

.CallToAction {
  color: $white-color;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  text-align: center;

  @include tab {
    color: inherit;
    display: block;
    text-align: left;
  }

  &__Title {
    @include font-xxl;

    font-weight: 400;
    margin-bottom: 12px;
    margin-top: 0;

    @include tab {
      margin-bottom: 20px;
    }
  }

  &__Desc {
    @include font-l;

    margin-bottom: 90px;

    @include desktop {
      margin-bottom: 111px;
    }
  }
}
